<div itemscope itemtype="https://schema.org/Person">
  <div class="author__content">
    <h3 class="author__name">{{ site.author.name | escape }}</h3>
    <p class="author__bio">{{ site.author.bio | escape }}</p>
  </div>
  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      <li><a href="mailto:{{ site.author.email | escape }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
      <li><a href="{{ site.author.googlescholar | escape }}"><i class="ai ai-google-scholar ai-fw icon-pad-right" aria-hidden="true"></i>Google Scholar</a></li>
      <li><a href="https://github.com/{{ site.author.github | escape }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
      <li><a href="https://x.com/{{ site.author.twitter | escape }}"><i class="fab fa-fw fa-x-twitter icon-pad-right" aria-hidden="true"></i>X (Twitter)</a></li>
    </ul>
  </div>
</div>
